/.cpcache/
/.nrepl-port
/target/
/dev-resources/public/js/compiled
/.clj-kondo/http-kit/
/docker/build
*.terraform*
/.clj-kondo/.lock
/.clj-kondo/inline-configs/
/content/kravpunkter.csv
/content/tilsyn.csv