{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/data.csv {:mvn/version "1.0.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        com.datomic/peer {:mvn/version "1.0.6726"}
        dev.weavejester/medley {:mvn/version "1.7.0"}
        no.cjohansen/fontawesome-clj {:mvn/version "2024.01.22"}
        no.cjohansen/powerpack {:mvn/version "2023.01.23"}
        no.cjohansen/replicant {:git/url "https://github.com/cjohansen/replicant.git"
                                :sha "5c42514235717b93706d4b523a22384db808e759"}
        superstring/superstring {:mvn/version "3.2.0"}}
 :aliases
 {:dev {:extra-paths ["dev" "test" "dev-resources"]
        :extra-deps {cider/piggieback {:mvn/version "0.5.3"}
                     com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                     cjohansen/gadget-inspector {:mvn/version "0.2023.04.12"}
                     kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                     lambdaisland/kaocha {:mvn/version "1.87.1366"}
                     org.clojars.abhinav/snitch {:mvn/version "0.1.14"}}}
  :build {:extra-paths ["target"]
          :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
          :exec-fn smilefjes.export/export}}}
