[{:kravpunkt/id "1.1"
  :kravpunkt/hovedområde "1. Rutiner og ledelse"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Korrekt smilefjesrapport ikke gjort lett tilgjengelig for publikum"
                              "3" "Korrekt smilefjesrapport ikke gjort tilgjengelig for publikum"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.2"
  :kravpunkt/hovedområde "1. Rutiner og ledelse"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved lovpålagt registrering av virksomheten"
                              "3" "Vesentlige mangler ved lovpålagt registrering av virksomheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.3"
  :kravpunkt/hovedområde "1. Rutiner og ledelse"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved ledelse og ansvar i virksomheten"
                              "3" "Vesentlige mangler ved ledelse og ansvar i virksomheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.4"
  :kravpunkt/hovedområde "1. Rutiner og ledelse"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved interne styrings- og kontrollrutiner for å sikre trygge matvarer"
                              "3" "Sentrale mangler ved interne styrings- og kontrollrutiner for å sikre trygge matvarer"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.5"
  :kravpunkt/hovedområde "1. Rutiner og ledelse"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved kontroll og styring med aktuelle risikoer"
                              "3" "Sentrale mangler ved kontroll og styring med aktuelle risikoer"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.6"
  :kravpunkt/hovedområde "1. Rutiner og ledelse"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved instruksjon og opplæring av medarbeidere i arbeidsrutiner av betydning for mattryggheten"
                              "3" "Vesentlige mangler ved instruksjon og opplæring av medarbeidere i sentrale arbeidsrutiner"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.1"
  :kravpunkt/hovedområde "2. Lokaler og utstyr"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved hygienisk standard på lokaler, innredning eller utstyr"
                              "3" "Vesentlige mangler ved hygienisk standard på lokaler, innredning og utstyr"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.2"
  :kravpunkt/hovedområde "2. Lokaler og utstyr"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Hygieniske mangler ved lokaler og innredning der mat tilberedes og håndteres "
                              "3" "Vesentlige hygieniske mangler ved lokaler og innredning der mat tilberedes og håndteres"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.3"
  :kravpunkt/hovedområde "2. Lokaler og utstyr"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for rengjøring av lokaler og utstyr med konsekvenser mattryggheten"
                              "3" "Vesentlige mangler ved rutiner for rengjøring av lokaler og utstyr med stor konsekvens for mattryggheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.4"
  :kravpunkt/hovedområde "2. Lokaler og utstyr"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner ved hygienisk håndtering av matavfall"
                              "3" "Vesentlige mangler ved hygienisk håndtering av matavfall"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.5"
  :kravpunkt/hovedområde "2. Lokaler og utstyr"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for å hindre at skadedyr tar seg inn i lokalene"
                              "3" "Vesentlige mangler ved rutiner for å hindre at skadedyr tar seg inn i lokalene"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.6"
  :kravpunkt/hovedområde "2. Lokaler og utstyr"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved utstyr for nødvendig håndhygiene av betydning for mattryggheten"
                              "3" "Vesentlige mangler ved utstyr for nødvendig håndhygiene av sentral betydning for mattryggheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.7"
  :kravpunkt/hovedområde "2. Lokaler og utstyr"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved toalett- og garderobeforhold av betydning for mattryggheten"
                              "3" "Vesentlige mangler ved toalett- og garderobeforhold av betydning for mattryggheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.1"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for innkjøp, mottak eller håndtering av råvarer av betydning for hygienisk sikkerhet"
                              "3" "Vesentlige mangler ved rutiner for innkjøp, mottak eller håndtering av råvarer av stor betydning for hygienisk sikkerhet"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.10"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for nedkjøling av varm mat"
                              "3" "Vesentlige mangler ved rutiner for nedkjøling av varm mat av stor betydning for mattryggheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.2"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved bruk av vann/is med drikkevannskvalitet"
                              "3" "Vesentlige mangler ved bruk av vann/is med drikkevannskvalitet"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.3"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning",
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for oppbevaring og håndtering for å hindre forurensing av maten"
                              "3" "Vesentlige mangler ved rutiner for oppbevaring og håndtering for å hindre forurensing av maten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.4"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Lagring av mat under forhold som ikke er tilstrekkelig til å beskytte mot forurensning"
                              "3" "Lagring av mat under forhold som medfører stor fare for forurensning "
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.5"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for personlig driftshygiene av betydning for trygg mathåndtering"
                              "3" "Vesentlige mangler ved rutiner for personlig driftshygiene av betydning for trygg mathåndtering"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.6"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for å sikre  at mat oppbevares ved tilstrekkelig lav temperatur"
                              "3" "Vesentlige mangler ved rutiner for å sikre at mat oppbevares ved tilstrekkelig lav temperatur"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.7"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for å sikre at varm mat er tilstrekkelig varmebehandlet og oppbevares ved korrekt temperatur før servering"
                              "3" "Vesentlige mangler ved rutiner for varmebehandling og oppbevaring av varm mat av stor betydning for matvarenes hygieniske sikkerhet"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.8"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for nedkjøling av varm mat"
                              "3" "Vesentlige mangler ved rutiner for nedkjøling av varm mat av stor betydning for mattryggheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.9"
  :kravpunkt/hovedområde "3. Mathåndtering og tilberedning"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for nedkjøling av varm mat"
                              "3" "Vesentlige mangler ved rutiner for varmebehandling og oppbevaring av varm mat av stor betydning for matvarenes hygieniske sikkerhet"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "4.1"
  :kravpunkt/hovedområde "4. Sporbarhet og merking"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner som sikrer at næringsmidler kan spores tilbake til opprinnelse eller produksjonstidspunkt"
                              "3" "Vesentlige mangler ved rutiner som sikrer at næringsmidler kan spores tilbake til opprinnelse eller produksjonstidspunkt."
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "4.2"
  :kravpunkt/hovedområde "4. Sporbarhet og merking"
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved obligatorisk informasjon/merking av allergener i servert mat "
                              "3" "Vesentlige mangler ved obligatorisk informasjon/ merking av allergener i servert mat som serveres"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}]
