[{:kravpunkt/id "1"
  :kravpunkt/navn "Rutiner og ledelse"}

 {:kravpunkt/id "1.1"
  :kravpunkt/navn "Synlig rapport for smilefjes"
  :kravpunkt/hovedområde {:kravpunkt/id "1"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Korrekt smilefjesrapport ikke gjort lett tilgjengelig for publikum"
                              "3" "Korrekt smilefjesrapport ikke gjort tilgjengelig for publikum"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.2"
  :kravpunkt/navn "Meldeplikt for virksomheten"
  :kravpunkt/hovedområde {:kravpunkt/id "1"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved lovpålagt registrering av virksomheten"
                              "3" "Vesentlige mangler ved lovpålagt registrering av virksomheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.3"
  :kravpunkt/navn "Ansvaret til driftsansvarlige"
  :kravpunkt/hovedområde {:kravpunkt/id "1"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved ledelse og ansvar i virksomheten"
                              "3" "Vesentlige mangler ved ledelse og ansvar i virksomheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.4"
  :kravpunkt/navn "Internkontroll"
  :kravpunkt/hovedområde {:kravpunkt/id "1"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved interne styrings- og kontrollrutiner for å sikre trygge matvarer"
                              "3" "Sentrale mangler ved interne styrings- og kontrollrutiner for å sikre trygge matvarer"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.5"
  :kravpunkt/navn "Farevurdering og styringstiltak"
  :kravpunkt/hovedområde {:kravpunkt/id "1"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved kontroll og styring med aktuelle risikoer"
                              "3" "Sentrale mangler ved kontroll og styring med aktuelle risikoer"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "1.6"
  :kravpunkt/navn "Opplæring"
  :kravpunkt/hovedområde {:kravpunkt/id "1"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved instruksjon og opplæring av medarbeidere i arbeidsrutiner av betydning for mattryggheten"
                              "3" "Vesentlige mangler ved instruksjon og opplæring av medarbeidere i sentrale arbeidsrutiner"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}

 {:kravpunkt/id "2"
  :kravpunkt/navn "Lokaler og utstyr"}

 {:kravpunkt/id "2.1"
  :kravpunkt/navn "Generelt, planløsning, standard og vedlikehold"
  :kravpunkt/hovedområde {:kravpunkt/id "2"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved hygienisk standard på lokaler, innredning eller utstyr"
                              "3" "Vesentlige mangler ved hygienisk standard på lokaler, innredning og utstyr"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.2"
  :kravpunkt/navn "Lokaler - spesielle krav ved tilberedning, bearbeiding og foredling"
  :kravpunkt/hovedområde {:kravpunkt/id "2"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Hygieniske mangler ved lokaler og innredning der mat tilberedes og håndteres"
                              "3" "Vesentlige hygieniske mangler ved lokaler og innredning der mat tilberedes og håndteres"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.3"
  :kravpunkt/navn "Utstyr - renhold"
  :kravpunkt/hovedområde {:kravpunkt/id "2"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for rengjøring av lokaler og utstyr med konsekvenser mattryggheten"
                              "3" "Vesentlige mangler ved rutiner for rengjøring av lokaler og utstyr med stor konsekvens for mattryggheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.4"
  :kravpunkt/navn "Håndtering av avfall"
  :kravpunkt/hovedområde {:kravpunkt/id "2"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner ved hygienisk håndtering av matavfall"
                              "3" "Vesentlige mangler ved hygienisk håndtering av matavfall"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.5"
  :kravpunkt/navn "Forebygge og bekjempe skadedyr"
  :kravpunkt/hovedområde {:kravpunkt/id "2"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for å hindre at skadedyr tar seg inn i lokalene"
                              "3" "Vesentlige mangler ved rutiner for å hindre at skadedyr tar seg inn i lokalene"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.6"
  :kravpunkt/navn "Håndvask"
  :kravpunkt/hovedområde {:kravpunkt/id "2"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved utstyr for nødvendig håndhygiene av betydning for mattryggheten"
                              "3" "Vesentlige mangler ved utstyr for nødvendig håndhygiene av sentral betydning for mattryggheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "2.7"
  :kravpunkt/navn "Personaltoaletter og garderobe"
  :kravpunkt/hovedområde {:kravpunkt/id "2"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved toalett- og garderobeforhold av betydning for mattryggheten"
                              "3" "Vesentlige mangler ved toalett- og garderobeforhold av betydning for mattryggheten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}

 {:kravpunkt/id "3"
  :kravpunkt/navn "Mathåndtering og tilberedning"}

 {:kravpunkt/id "3.1"
  :kravpunkt/navn "Råvarer"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for innkjøp, mottak eller håndtering av råvarer av betydning for hygienisk sikkerhet"
                              "3" "Vesentlige mangler ved rutiner for innkjøp, mottak eller håndtering av råvarer av stor betydning for hygienisk sikkerhet"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.2"
  :kravpunkt/navn "Vann og is"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved bruk av vann/is med drikkevannskvalitet"
                              "3" "Vesentlige mangler ved bruk av vann/is med drikkevannskvalitet"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.3"
  :kravpunkt/navn "Forurensningsfare"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for oppbevaring og håndtering for å hindre forurensing av maten"
                              "3" "Vesentlige mangler ved rutiner for oppbevaring og håndtering for å hindre forurensing av maten"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.4"
  :kravpunkt/navn "Lagring"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Lagring av mat under forhold som ikke er tilstrekkelig til å beskytte mot forurensning"
                              "3" "Lagring av mat under forhold som medfører stor fare for forurensning "
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.5"
  :kravpunkt/navn "Transport"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved transport av råvarer eller ferdigvarer"
                              "3" "Vesentlige mangler ved transport av råvarer eller ferdigvarer"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.6"
  :kravpunkt/navn "Personlig hygiene"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for personlig hygiene av betydning for trygg mathåndtering"
                              "3" "Vesentlige mangler ved rutiner for personlig hygiene av betydning for trygg mathåndtering"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.7"
  :kravpunkt/navn "Kjølekjeden"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for å sikre at mat oppbevares ved tilstrekkelig lav temperatur"
                              "3" "Vesentlige mangler ved rutiner for å sikre at mat oppbevares ved tilstrekkelig lav temperatur"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.8"
  :kravpunkt/navn "Varmebehandling"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for å sikre at varm mat er tilstrekkelig varmebehandlet"
                              "3" "Vesentlige mangler ved rutiner for å sikre at varm mat er tilstrekkelig varmebehandlet"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "3.9"
  :kravpunkt/navn "Nedkjøling"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for nedkjøling av varm mat"
                              "3" "Vesentlige mangler ved rutiner for nedkjøling av varm mat"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}

 {:kravpunkt/id "3.10"
  :kravpunkt/navn "Tining"
  :kravpunkt/hovedområde {:kravpunkt/id "3"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner for tining av mat"
                              "3" "Vesentlige mangler ved rutiner for tining av mat"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}

 {:kravpunkt/id "4"
  :kravpunkt/navn "Merking og sporbarhet"}

 {:kravpunkt/id "4.1"
  :kravpunkt/navn "Sporbarhet"
  :kravpunkt/hovedområde {:kravpunkt/id "4"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved rutiner som sikrer at næringsmidler kan spores tilbake til opprinnelse eller produksjonstidspunkt"
                              "3" "Vesentlige mangler ved rutiner som sikrer at næringsmidler kan spores tilbake til opprinnelse eller produksjonstidspunkt"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}
 {:kravpunkt/id "4.2"
  :kravpunkt/navn "Merking av allergeningredienser"
  :kravpunkt/hovedområde {:kravpunkt/id "4"}
  :kravpunkt/karakter->tekst {"0" ""
                              "1" ""
                              "2" "Mangler ved obligatorisk informasjon/merking av allergener i servert mat"
                              "3" "Vesentlige mangler ved obligatorisk informasjon/ merking av allergener i servert mat som serveres"
                              "4" "Ikke aktuelt"
                              "5" "Ikke vurdert"}}]
