[{:db/ident :tilsynsobjekt/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}

 {:db/ident :spisested/orgnummer
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :spisested/adresse
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :spisested/navn
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :tilsynsbesøk/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}

 {:db/ident :tilsynsbesøk/tilsynsobjekt
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :tilsynsbesøk/dato
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :tilsynsbesøk/oppfølging?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}

 {:db/ident :tilsynsbesøk/smilefjeskarakter
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :kravpunkt/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}

 {:db/ident :kravpunkt/navn
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :kravpunkt/hovedområde
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :kravpunkt/karakter->tekst
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :tilsynsbesøk/vurderinger
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :vurdering/kravpunkt
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :vurdering/karakter
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/link
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :poststed/postnummer
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}

 {:db/ident :poststed/navn
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :poststed/kommune
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :kommune/kode
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}

 {:db/ident :kommune/navn
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :spisested/poststed
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 ]
