@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 20px;
        color: #032C30;
    }
}

.gamle-tilsyn,
.irrelevant-vurdering { display: none; }

.vis-gamle-tilsyn .gamle-tilsyn,
.vis-irrelevavnte-vurderinger .irrelevant-vurdering { display: block; }

.vis-gamle-tilsyn .vis-gamle-tilsyn-lenke {display: none;}

.mmm-checkbox {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 16px;
    position: relative;
}

.mmm-checkbox input {
    display: none;
}

.mmm-checkbox .checkbox-marker {
    fill: white;
    stroke: #68B096;
    transition: stroke 0.25s, fill 0.25s;
    width: 24px;
}

.mmm-checkbox input:checked + .checkbox-marker {
    fill: #054449;
    stroke: #054449;
}

.mmm-svg {
    display: block;
    max-width: 100%;
}

.mmm-svg,
.mmm svg {
    fill: currentColor;
    max-height: 100%;
}

svg {fill: currentColor}
