@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 20px;
        color: #032C30;
    }
}

.not-interesting { display: none; }
.show-not-interesting .not-interesting { display: block; }
